@model IEnumerable<DatLich.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Infor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Img)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Infor)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Employee_Img)*@
            <img style="width:50px;height:50px" src="~/Upload/Employee/@item.Employee_Img" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Employee_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Employee_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Employee_ID })
        </td>
    </tr>
}

</table>
