@model IEnumerable<DatLich.Models.AppointmentSchedule_1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dentist.Dentist_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftWork.ShiftWork_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentSchedule_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentSchedule_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Describe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dentist.Dentist_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftWork.ShiftWork_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentSchedule_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentSchedule_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Describe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppointmentSchedule1_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppointmentSchedule1_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppointmentSchedule1_ID })
        </td>
    </tr>
}

</table>
